<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML | Ingreso</title>
</head>
<body>
    <div>
        <img src = "/images/images/logo-mercado-liebre.svg" alt = "Logo ML">
        
    </div>
    <form action="index.html" method="POST">
        <div>
            <h2>¡Ingresá con tu cuenta!</h2>
            <label for="usuario">Nombre de usuari@ o e-mail</label><br>
            <input type="text" id="usuario" name="Nombre de usuari@"><br><br>

            <label for="Contraseña">Contraseña</label><br>
            <input type="password" id="Contraseña" name="Contraseña"><br><br>

            <button type="submit">Ingresar</button>

        </div>
    </form>    
</body>
</html>