<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML | Ingreso</title>
</head>
<body>
<main>
    <header>
        <div>
            <img src = "/images/images/logo-mercado-liebre.svg" alt = "Logo ML">        
        </div>
        <div>
            <p>
                <input type="search" placeholder="Buscar productos, marcas, ..."><button><i class="fas fa-search"></i></button>
            </p>
            <p>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <div>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="register">Creá tu cuenta</a></li>
                <li><a href="login">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </div>
    </header>
    <main>
    <form action="index.html" method="POST">
        <div>
            <h2>¡Ingresá con tu cuenta!</h2>
            <label for="usuario">Nombre de usuari@ o e-mail</label><br>
            <input type="text" id="usuario" name="Nombre de usuari@"><br><br>

            <label for="Contraseña">Contraseña</label><br>
            <input type="password" id="Contraseña" name="Contraseña"><br><br>

            <button type="submit">Ingresar</button>

        </div>
    </form>  
    </main>  
    <footer>
        <article>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <h4>Envío gratis desde los $2500</h4>
            <p>Sólo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos</p>
        </article>
        <article>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
        </article>
        <div>
            <h6>Copyright © 1999-2019 MercadoLiebre S.R.L</h6>
        </div>
        </footer>
</main>
</body>
</html>