<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML | Registro</title>
</head>
<body>
    <div>
        <img src = "/images/images/logo-mercado-liebre.svg" alt = "Logo ML">
        
    </div>
    <form action="index.html" method="POST">
        <div>
            <label for="nombre y apellido">Nombre y apellido</label>
            <input type="text" id="nombre y apellido" name="Nombre y apellido" placeholder="Nombre y apellido"><br><br>

            <label for="usuario">Nombre de usuari@</label>
            <input type="text" id="usuario" name="Nombre de usuari@" placeholder="Nombre de usuari@"><br><br>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="E-mail"><br><br>

            <label for="nacimiento">Fecha de nacimiento</label>
            <input type="date" id="nacimiento" name="nacimiento" placeholder="Fecha de nacimiento"><br><br>
                          
            <label for="domicilio">Domicilio</label>
            <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio"><br><br>

            <label for="">Perfil de usuario</label>
            <input type="radio" name="perfil" value="Comprador">Comprador
            <input type="radio" name="perfil" value="Vendedor">Vendedor
            <br><br>

            <label for=""><h4>Intereses</h4></label><br>
            <input type="checkbox" name="Intereses" value="Electro">Electro
            <input type="checkbox" name="Intereses" value="Moda">Moda
            <input type="checkbox" name="Intereses" value="Hogar">Hogar
            <input type="checkbox" name="Intereses" value="Jugueteria">Jugueteria
            <input type="checkbox" name="Intereses" value="Vida sana">Vida sana
            <br><br>

            <label for="">Elegí tu foto de usuario</label>
            <input type="file" accept="image/jpg, image/png, image/jpeg">
            <br><br>

            <label for="contraseña">Contraseña</label><br>
            <input type="password" id="contraseña" name="contraseña" placeholder="Elegí tu contraseña"><br>
            <input type="password" id="contraseña" name="contraseña" placeholder="Confirmá tu contraseña"><br>
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>

        </div>

    </form>
</body>
</html>