<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML | Registro</title>
</head>
<body>
<main>
    <header>
        <div>
            <img src = "/images/images/logo-mercado-liebre.svg" alt = "Logo ML">        
        </div>
        <div>
            <p>
                <input type="search" placeholder="Buscar productos, marcas, ..."><button><i class="fas fa-search"></i></button>
            </p>
            <p>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <div>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="registro">Creá tu cuenta</a></li>
                <li><a href="ingreso">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </div>
    </header>
    <main>
    <form action="index.html" method="POST">
        <div>
            <label for="nombre y apellido">Nombre y apellido</label>
            <input type="text" id="nombre y apellido" name="Nombre y apellido" placeholder="Nombre y apellido"><br><br>

            <label for="usuario">Nombre de usuari@</label>
            <input type="text" id="usuario" name="Nombre de usuari@" placeholder="Nombre de usuari@"><br><br>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="E-mail"><br><br>

            <label for="nacimiento">Fecha de nacimiento</label>
            <input type="date" id="nacimiento" name="nacimiento" placeholder="Fecha de nacimiento"><br><br>
                          
            <label for="domicilio">Domicilio</label>
            <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio"><br><br>

            <label for="">Perfil de usuario</label>
            <input type="radio" name="perfil" value="Comprador">Comprador
            <input type="radio" name="perfil" value="Vendedor">Vendedor
            <br><br>

            <label for=""><h4>Intereses</h4></label><br>
            <input type="checkbox" name="Intereses" value="Electro">Electro
            <input type="checkbox" name="Intereses" value="Moda">Moda
            <input type="checkbox" name="Intereses" value="Hogar">Hogar
            <input type="checkbox" name="Intereses" value="Jugueteria">Jugueteria
            <input type="checkbox" name="Intereses" value="Vida sana">Vida sana
            <br><br>

            <label for="">Elegí tu foto de usuario</label>
            <input type="file" accept="image/jpg, image/png, image/jpeg">
            <br><br>

            <label for="contraseña">Contraseña</label><br>
            <input type="password" id="contraseña" name="contraseña" placeholder="Elegí tu contraseña"><br>
            <input type="password" id="contraseña" name="contraseña" placeholder="Confirmá tu contraseña"><br>
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
        </div>
    </form>
    </main>
    <footer>
        <article>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <h4>Envío gratis desde los $2500</h4>
            <p>Sólo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos</p>
        </article>
        <article>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
        </article>
        <div>
            <h6>Copyright © 1999-2019 MercadoLiebre S.R.L</h6>
        </div>
        </footer>
</main>
</body>
</html>